.widget_mr_categories .widgettitle,
.widget_yng_developer .widgettitle {
  text-transform: capitalize;
}
.mr-theme > .mr-layout > .mr-pages > .mr-item {
  margin-left: 0;
}
.mr-theme > .mr-layout > .mr-pages > .mr-item:not(.active):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  display: block;
  cursor: pointer;
}
.mr-layout:not(.mr-hover) > .mr-pages > .mr-item:not(.active),
.mr-layout:not(.mr-hover):not(.mr-donotinactive) > .mr-pages > .mr-item.active {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.mr-layout:not(.mr-hover):not(.mr-donotinactive)
  > .mr-pages
  > .mr-item.active
  *.mr-content {
  cursor: initial;
}
@supports (-webkit-overflow-scrolling: touch) {
  .mr-theme > .mr-layout.mr-windowheight > .mr-pages,
  .mr-theme
    > .mr-layout.mr-expandactive
    > .mr-pages.mr-0perline
    > .mr-item.active
    > .mr-item-container {
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;
  }
}
.mr-theme > .mr-layout > .mr-pages.inactive:not(.active) {
  display: none;
}
.mr-theme
  > .mr-layout
  > .mr-pages
  > .mr-item
  > .mr-item-container
  > .mr-content
  > .mr-meta {
  flex-flow: column;
}
.mr-theme
  > .mr-layout
  > .mr-pages
  > .mr-item
  > .mr-item-container
  > .mr-content
  > .mr-meta {
  align-items: baseline;
}
.mr-theme
  > .mr-layout
  > .mr-pages
  > .mr-item
  > .mr-item-container
  > .mr-content
  > .mr-meta
  > .mr-date,
.mr-theme
  > .mr-layout
  > .mr-pages
  > .mr-item
  > .mr-item-container
  > .mr-content
  > .mr-meta
  > .mr-author,
.mr-theme
  > .mr-layout
  > .mr-pages
  > .mr-item
  > .mr-item-container
  > .mr-content
  > .mr-meta
  .mr-categories,
.mr-theme
  > .mr-layout
  > .mr-pages
  > .mr-item
  > .mr-item-container
  > .mr-content
  > .mr-meta
  .mr-tags {
  margin-right: 0.25rem;
}
.mr-theme > .mr-layout > .mr-pages > .mr-item,
.mr-theme > .mr-layout .mr-title,
.mr-theme
  > .mr-layout
  > .mr-pages
  > .mr-item
  > .mr-item-container
  > .mr-content
  > .mr-meta,
.mr-theme > .mr-layout .mr-content,
.mr-theme > .mr-layout > .mr-tabs > .mr-tab {
  position: relative;
}
.mr-theme > .mr-layout > .mr-tabs > .mr-tab {
  text-align: center;
  cursor: pointer;
  word-break: break-word;
}
.mr-theme > .mr-layout > .mr-tabs > .mr-tab.active {
  font-weight: 700;
}
.mr-theme
  > .mr-layout:not(.mr-none):not(.mr-windowheight)
  > .mr-pages
  > .mr-item,
.mr-theme
  > .mr-layout:not(.mr-none):not(.mr-windowheight)
  > .mr-pages
  > .mr-item
  > .mr-item-container {
  min-height: 100%;
}
.mr-tab {
  width: 100%;
}
@media only screen and (orientation: portrait) {
  .mr-theme > .mr-layout:not(.mr-landscape) > .mr-pages.mr-0perline {
    flex-direction: column;
  }
}
@media only screen and (max-width: 960px) {
  .mr-theme > .mr-layout > .mr-pages.mr-11perline > .mr-item,
  .mr-theme > .mr-layout > .mr-pages.mr-5perline > .mr-item,
  .mr-theme > .mr-layout > .mr-pages.mr-7perline > .mr-item,
  .mr-theme > .mr-layout > .mr-pages.mr-9perline > .mr-item {
    width: 33.333333%;
  }
  .mr-theme > .mr-layout > .mr-pages.mr-10perline > .mr-item,
  .mr-theme > .mr-layout > .mr-pages.mr-12perline > .mr-item,
  .mr-theme > .mr-layout > .mr-pages.mr-4perline > .mr-item,
  .mr-theme > .mr-layout > .mr-pages.mr-6perline > .mr-item,
  .mr-theme > .mr-layout > .mr-pages.mr-8perline > .mr-item {
    width: 50%;
  }
}
@media only screen and (max-width: 47.94em) and (orientation: landscape) {
  .mr-theme
    > .mr-layout:not(.mr-portrait)
    > .mr-pages:not(.mr-2perline):not(.mr-1perline)
    > .mr-item {
    width: 50%;
  }
}
@media only screen and (max-width: 47.94em) and (orientation: portrait) {
  .mr-theme
    > .mr-layout:not(.mr-landscape)
    > .mr-pages:not(.mr-1perline)
    > .mr-item {
    width: 100%;
  }
}
/*tabsposition-tabstop*/
.mr-theme > .mr-layout.mr-tabs:not(.mr-tabsleft):not(.mr-tabsright) > .mr-tabs {
  width: 100%;
}
/*tabsposition-tabsleft*/
.mr-theme > .mr-layout.mr-tabsleft > .mr-pages {
  flex-grow: 1;
  max-width: 75%;
}
.mr-theme > .mr-layout.mr-tabsleft > .mr-tabs {
  width: 25%;
  flex-wrap: wrap;
}
/*tabsposition-tabsright*/
.mr-theme > .mr-layout.mr-tabsright > .mr-tabs {
  order: 9999;
}
.mr-theme > .mr-layout.mr-tabsright > .mr-pages {
  flex-grow: 1;
  max-width: 75%;
}
.mr-theme > .mr-layout.mr-tabsright > .mr-tabs {
  width: 25%;
  flex-wrap: wrap;
}
/*tabsposition-tabsbottom*/
.mr-theme > .mr-layout.mr-tabsbottom > .mr-tabs {
  order: 9999;
}
/*pagetoggles-4*/
.mr-theme
  > .mr-layout
  > .mr-pagination
  > button.mr-scroll:not(.mr-below):not(.loading) {
  opacity: 0;
}
.mr-theme > .mr-layout > .mr-pagination > button.mr-scroll.loading span {
  font-size: 0;
}
.mr-theme > .mr-layout > .mr-pagination > button.mr-scroll.loading span:after {
  content: "...";
  font-size: initial;
}
/*pagetoggles-3*/
.mr-theme > .mr-layout > .mr-pagination > .mr-below.loading span {
  font-size: 0;
}
.mr-theme > .mr-layout > .mr-pagination > .mr-below.loading span:after {
  content: "...";
  font-size: initial;
}
/*itemimage*/
.mr-theme > .mr-layout > .mr-pages > .mr-item > .mr-item-container > .mr-image {
  overflow: hidden;
  min-height: 4.5rem;
  margin: 0;
}
.mr-theme
  > .mr-layout
  > .mr-pages
  > .mr-item
  > .mr-item-container
  > .mr-image
  img {
  object-fit: cover;
  width: auto;
}
.mr-theme
  > .mr-layout:not(.mr-thumbnail)
  > .mr-pages
  > .mr-item
  > .mr-item-container {
  overflow: hidden;
}
.mr-theme
  > .mr-layout:not(.mr-thumbnail)
  > .mr-pages
  > .mr-item
  > .mr-item-container
  > .mr-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mr-theme > .mr-layout > .mr-pages > .mr-item > .mr-item-container > .mr-image {
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mr-theme
  > .mr-layout:not(.mr-parallax)
  > .mr-pages
  > .mr-item
  > .mr-item-container
  > .mr-image {
  background-position-y: center;
}
.mr-theme
  > .mr-layout
  > .mr-pages
  > .mr-item
  > .mr-item-container
  > .mr-image
  figcaption {
  display: inherit;
}
/*imagestype-parallax*/
@media (prefers-reduced-motion: no-preference) {
  .mr-theme
    > .mr-layout.mr-parallax
    > .mr-pages
    > .mr-item
    > .mr-item-container
    > .mr-image {
    background-attachment: fixed;
  }
  _:-ms-lang(x),
  _:-webkit-full-screen,
  .mr-theme
    > .mr-layout.mr-parallax
    > .mr-pages
    > .mr-item
    > .mr-item-container
    > .mr-image {
    background-attachment: scroll !important;
    background-position-x: center !important;
    background-position-y: center !important;
  }
  @supports (-webkit-overflow-scrolling: touch) {
    .mr-theme
      > .mr-layout.mr-parallax
      > .mr-pages
      > .mr-item
      > .mr-item-container
      > .mr-image {
      background-attachment: scroll !important;
      background-position-x: center !important;
      background-position-y: center !important;
    }
  }
}
/*globallayoutoptions-windowheight*/
.mr-theme > .mr-layout.mr-windowheight > .mr-pages {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden;
  overflow-y: auto;
}
.mr-theme > .mr-layout:not(.mr-list).mr-windowheight > .mr-pages.mr-0perline {
  overflow: auto;
}
.mr-theme > .mr-layout.mr-windowheight > .mr-pages > .mr-item,
.mr-theme
  > .mr-layout.mr-windowheight
  > .mr-pages
  > .mr-item
  > .mr-item-container {
  height: 100%;
}
.mr-theme
  > .mr-layout.mr-windowheight
  > .mr-pages
  > .mr-item
  > .mr-item-container {
  overflow: hidden;
}
.mr-theme
  > .mr-layout.mr-windowheight
  > .mr-pages
  > .mr-item.active
  > .mr-item-container {
  overflow: auto;
}
/*perpage*/
.mr-theme > .mr-layout > .mr-pagination {
  order: 9999;
}
.mr-theme > .mr-layout > .mr-pagination > .mr-radios > .mr-radio,
.mr-theme > .mr-layout > .mr-pagination > .mr-pageselect {
  cursor: pointer;
}
/*globallayoutoptions-contentpagination*/
.mr-theme > .mr-layout.mr-contentpagination {
  position: relative;
}
.mr-theme > .mr-layout.mr-contentpagination > .mr-pagination > .mr-pageselect,
.mr-theme > .mr-layout.mr-contentpagination > .mr-pagination > .mr-radios,
.mr-theme > .mr-layout.mr-contentpagination > .mr-pagination > .mr-below {
  position: absolute;
  z-index: 2;
}
.mr-theme > .mr-layout.mr-contentpagination > .mr-pagination > .mr-pageselect,
.mr-theme > .mr-layout.mr-contentpagination > .mr-pagination > .mr-radios,
.mr-theme > .mr-layout.mr-contentpagination > .mr-pagination > .mr-below {
  width: 100%;
}
.mr-layout.mr-contentpagination > .mr-pagination > .mr-pageselect {
  bottom: 3.5rem;
}
.mr-theme > .mr-layout.mr-contentpagination > .mr-pagination > .mr-radios {
  text-align: center;
  bottom: 2rem;
}
.mr-theme > .mr-layout.mr-contentpagination > .mr-pagination > .mr-below {
  bottom: 0;
}
.mr-theme > .mr-layout.mr-contentpagination > .mr-pagination > .mr-next,
.mr-theme > .mr-layout.mr-contentpagination > .mr-pagination > .mr-prev {
  position: absolute;
  top: 50%;
  float: inherit;
  z-index: 3;
}
.mr-layout.mr-contentpagination > .mr-pagination > .mr-pageselect,
.mr-layout.mr-contentpagination > .mr-pagination > .mr-radios,
.mr-layout.mr-contentpagination > .mr-pagination > .mr-below,
.mr-theme > .mr-layout.mr-contentpagination > .mr-pagination > .mr-prev {
  left: 0;
}
.mr-theme > .mr-layout.mr-contentpagination > .mr-pagination > .mr-next {
  right: 0;
}
.mr-theme
  > .mr-layout.mr-contentpagination
  > .mr-pages
  > .mr-item
  > .mr-item-container {
  padding: 0 1.75rem 4rem 1.75rem;
}
@media only screen and (max-width: 59.94em) and (min-width: 47.94em) {
  .mr-theme
    > .mr-layout.mr-contentpagination
    > .mr-pages
    > .mr-item
    > .mr-item-container {
    padding-bottom: 5.4rem;
  }
}
@media only screen and (max-width: 47.94em) and (orientation: landscape) {
  .mr-theme
    > .mr-layout.mr-contentpagination
    > .mr-pages
    > .mr-item
    > .mr-item-container {
    padding-bottom: 7.4rem;
  }
}
@media only screen and (max-width: 47.94em) and (orientation: portrait) {
  .mr-theme
    > .mr-layout.mr-contentpagination
    > .mr-pages
    > .mr-item
    > .mr-item-container {
    padding-bottom: 7.4rem;
  }
}
/*globallayoutoptions-hideinactives*/
.mr-theme
  > .mr-layout.mr-hideinactives:not(.mr-onlyactives)
  > .mr-pages
  > .mr-item.inactive {
  display: none;
}
/*globallayoutoptions-onlyactives*/
.mr-theme > .mr-layout.mr-onlyactives > .mr-pages > .mr-item:not(.active) {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
}
/*end*/
