.mr-tablet-container {
  max-width: var(--tablet-container, 75rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--tablet-padding, 0.75rem);
  padding-right: var(--tablet-padding, 0.75rem);
}
.mr-tablet-margin {
  margin: var(--tablet-margin, 0.75rem);
}
.mr-tablet-margintop {
  margin-top: var(--tablet-margin, 0.75rem);
}
.mr-tablet-marginright {
  margin-right: var(--tablet-margin, 0.75rem);
}
.mr-tablet-marginbottom {
  margin-bottom: var(--tablet-margin, 0.75rem);
}
.mr-tablet-marginleft {
  margin-left: var(--tablet-margin, 0.75rem);
}
.mr-tablet-padding {
  padding: var(--tablet-padding, 0.75rem);
}
.mr-tablet-paddingtop {
  padding-top: var(--tablet-padding, 0.75rem);
}
.mr-tablet-paddingright {
  padding-right: var(--tablet-padding, 0.75rem);
}
.mr-tablet-paddingbottom {
  padding-bottom: var(--tablet-padding, 0.75rem);
}
.mr-tablet-paddingleft {
  padding-left: var(--tablet-padding, 0.75rem);
}
.mr-tablet-nomargin {
  margin: 0 !important;
}
.mr-tablet-nomargintop {
  margin-top: 0 !important;
}
.mr-tablet-nomarginright {
  margin-right: 0 !important;
}
.mr-tablet-nomarginbottom {
  margin-bottom: 0 !important;
}
.mr-tablet-nomarginleft {
  margin-left: 0 !important;
}
.mr-tablet-nopadding {
  padding: 0 !important;
}
.mr-tablet-nopaddingtop {
  padding-top: 0 !important;
}
.mr-tablet-nopaddingright {
  padding-right: 0 !important;
}
.mr-tablet-nopaddingbottom {
  padding-bottom: 0 !important;
}
.mr-tablet-flex,
.mr-tablet-12perline,
.mr-tablet-11perline,
.mr-tablet-10perline,
.mr-tablet-9perline,
.mr-tablet-8perline,
.mr-tablet-7perline,
.mr-tablet-6perline,
.mr-tablet-5perline,
.mr-tablet-4perline,
.mr-tablet-3perline,
.mr-tablet-2perline,
.mr-tablet-1perline,
.mr-tablet-0perline,
.mr-tablet-perline {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.mr-tablet-wrap,
.mr-tablet-12perline,
.mr-tablet-11perline,
.mr-tablet-10perline,
.mr-tablet-9perline,
.mr-tablet-8perline,
.mr-tablet-7perline,
.mr-tablet-6perline,
.mr-tablet-5perline,
.mr-tablet-4perline,
.mr-tablet-3perline,
.mr-tablet-2perline,
.mr-tablet-1perline,
.mr-tablet-perline {
  flex-wrap: wrap;
}
.mr-tablet-section,
.mr-tablet-0perline > .mr-item:not([class*="mr-tablet-size"]),
.mr-tablet-1perline > .mr-item:not([class*="mr-tablet-size"]),
.mr-tablet-perline > .mr-item:not([class*="mr-tablet-size"]),
.mr-tablet-size12,
.mr-tablet-width100 {
  width: 100%;
}
.mr-tablet-2perline > .mr-item:not([class*="mr-tablet-size"]),
.mr-tablet-size11,
.mr-tablet-width50 {
  width: 50%;
}
.mr-tablet-3perline > .mr-item:not([class*="mr-tablet-size"]),
.mr-tablet-size10,
.mr-tablet-width33 {
  width: 33.33333333333333%;
}
.mr-tablet-4perline > .mr-item:not([class*="mr-tablet-size"]),
.mr-tablet-size9,
.mr-tablet-width25 {
  width: 25%;
}
.mr-tablet-5perline > .mr-item:not([class*="mr-tablet-size"]),
.mr-tablet-size8,
.mr-tablet-width20 {
  width: 20%;
}
.mr-tablet-6perline > .mr-item:not([class*="mr-tablet-size"]),
.mr-tablet-size7,
.mr-tablet-width16 {
  width: 16.66666666666667%;
}
.mr-tablet-7perline > .mr-item:not([class*="mr-tablet-size"]),
.mr-tablet-size6,
.mr-tablet-width14 {
  width: 14.28571428571429%;
}
.mr-tablet-8perline > .mr-item:not([class*="mr-tablet-size"]),
.mr-tablet-size5,
.mr-tablet-width12 {
  width: 12.5%;
}
.mr-tablet-9perline > .mr-item:not([class*="mr-tablet-size"]),
.mr-tablet-size4,
.mr-tablet-width11 {
  width: 11.11111111111111%;
}
.mr-tablet-10perline > .mr-item:not([class*="mr-tablet-size"]),
.mr-tablet-size3,
.mr-tablet-width10 {
  width: 10%;
}
.mr-tablet-11perline > .mr-item:not([class*="mr-tablet-size"]),
.mr-tablet-size2,
.mr-tablet-width9 {
  width: 9.090909090909091%;
}
.mr-tablet-12perline > .mr-item:not([class*="mr-tablet-size"]),
.mr-tablet-size1,
.mr-tablet-width8 {
  width: 8.333333333333333%;
}
.mr-tablet-orderfirst,
.mr-tablet-order-1 {
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
}
.mr-tablet-order1 {
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
.mr-tablet-order2 {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
.mr-tablet-order3 {
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}
.mr-tablet-order4 {
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}
.mr-tablet-order5 {
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5;
}
.mr-tablet-order6 {
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6;
}
.mr-tablet-order7 {
  -ms-flex-order: 7;
  -webkit-order: 7;
  order: 7;
}
.mr-tablet-order8 {
  -ms-flex-order: 8;
  -webkit-order: 8;
  order: 8;
}
.mr-tablet-order9 {
  -ms-flex-order: 9;
  -webkit-order: 9;
  order: 9;
}
.mr-tablet-order10 {
  -ms-flex-order: 10;
  -webkit-order: 10;
  order: 10;
}
.mr-tablet-order11 {
  -ms-flex-order: 11;
  -webkit-order: 11;
  order: 11;
}
.mr-tablet-order12 {
  -ms-flex-order: 12;
  -webkit-order: 12;
  order: 12;
}
.mr-tablet-orderlast {
  -ms-flex-order: 999;
  -webkit-order: 999;
  order: 999;
}
.mr-tablet-scroll {
  overflow: auto;
}
.mr-tablet-noscroll {
  overflow: hidden !important;
}
@supports (-webkit-overflow-scrolling: touch) {
  .mr-tablet-iosscroll,
  .mr-tablet-scroll {
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;
  }
}
.mr-tablet-show {
  opacity: 1 !important;
  visibility: visible !important;
}
.mr-tablet-show,
.mr-tablet-block {
  display: block !important;
}
.mr-tablet-hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}
.mr-tablet-relative {
  position: relative;
}
.mr-tablet-absolute {
  position: absolute;
}
.mr-tablet-fixed {
  position: fixed;
}
.mr-tablet-sticky {
  position: sticky;
}
.mr-tablet-alignleft {
  text-align: left;
}
.mr-tablet-aligncenter {
  text-align: center;
}
.mr-tablet-alignright {
  text-align: right;
}
.mr-tablet-top {
  top: 0;
  bottom: auto;
  margin-top: 0;
  align-items: start;
  vertical-align: top;
}
.mr-tablet-middle {
  align-items: center;
  vertical-align: middle;
}
.mr-tablet-center {
  margin-left: auto;
  margin-right: auto;
}
.mr-tablet-bottom {
  bottom: 0;
  top: auto;
  margin-bottom: 0;
  align-items: end;
  vertical-align: bottom;
}
.mr-tablet-baseline {
  align-items: baseline;
  vertical-align: baseline;
}
