.mr-landscape-container {
  max-width: var(--landscape-container, 75rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--landscape-padding, 0.75rem);
  padding-right: var(--landscape-padding, 0.75rem);
}
.mr-landscape-margin {
  margin: var(--landscape-margin, 0.75rem);
}
.mr-landscape-margintop {
  margin-top: var(--landscape-margin, 0.75rem);
}
.mr-landscape-marginright {
  margin-right: var(--landscape-margin, 0.75rem);
}
.mr-landscape-marginbottom {
  margin-bottom: var(--landscape-margin, 0.75rem);
}
.mr-landscape-marginleft {
  margin-left: var(--landscape-margin, 0.75rem);
}
.mr-landscape-padding {
  padding: var(--landscape-padding, 0.75rem);
}
.mr-landscape-paddingtop {
  padding-top: var(--landscape-padding, 0.75rem);
}
.mr-landscape-paddingright {
  padding-right: var(--landscape-padding, 0.75rem);
}
.mr-landscape-paddingbottom {
  padding-bottom: var(--landscape-padding, 0.75rem);
}
.mr-landscape-paddingleft {
  padding-left: var(--landscape-padding, 0.75rem);
}
.mr-landscape-nomargin {
  margin: 0 !important;
}
.mr-landscape-nomargintop {
  margin-top: 0 !important;
}
.mr-landscape-nomarginright {
  margin-right: 0 !important;
}
.mr-landscape-nomarginbottom {
  margin-bottom: 0 !important;
}
.mr-landscape-nomarginleft {
  margin-left: 0 !important;
}
.mr-landscape-nopadding {
  padding: 0 !important;
}
.mr-landscape-nopaddingtop {
  padding-top: 0 !important;
}
.mr-landscape-nopaddingright {
  padding-right: 0 !important;
}
.mr-landscape-nopaddingbottom {
  padding-bottom: 0 !important;
}
.mr-landscape-flex,
.mr-landscape-12perline,
.mr-landscape-11perline,
.mr-landscape-10perline,
.mr-landscape-9perline,
.mr-landscape-8perline,
.mr-landscape-7perline,
.mr-landscape-6perline,
.mr-landscape-5perline,
.mr-landscape-4perline,
.mr-landscape-3perline,
.mr-landscape-2perline,
.mr-landscape-1perline,
.mr-landscape-0perline,
.mr-landscape-perline {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.mr-landscape-wrap,
.mr-landscape-12perline,
.mr-landscape-11perline,
.mr-landscape-10perline,
.mr-landscape-9perline,
.mr-landscape-8perline,
.mr-landscape-7perline,
.mr-landscape-6perline,
.mr-landscape-5perline,
.mr-landscape-4perline,
.mr-landscape-3perline,
.mr-landscape-2perline,
.mr-landscape-1perline,
.mr-landscape-perline {
  flex-wrap: wrap;
}
.mr-landscape-section,
.mr-landscape-0perline > .mr-item:not([class*="mr-landscape-size"]),
.mr-landscape-1perline > .mr-item:not([class*="mr-landscape-size"]),
.mr-landscape-perline > .mr-item:not([class*="mr-landscape-size"]),
.mr-landscape-size12,
.mr-landscape-width100 {
  width: 100%;
}
.mr-landscape-2perline > .mr-item:not([class*="mr-landscape-size"]),
.mr-landscape-size11,
.mr-landscape-width50 {
  width: 50%;
}
.mr-landscape-3perline > .mr-item:not([class*="mr-landscape-size"]),
.mr-landscape-size10,
.mr-landscape-width33 {
  width: 33.33333333333333%;
}
.mr-landscape-4perline > .mr-item:not([class*="mr-landscape-size"]),
.mr-landscape-size9,
.mr-landscape-width25 {
  width: 25%;
}
.mr-landscape-5perline > .mr-item:not([class*="mr-landscape-size"]),
.mr-landscape-size8,
.mr-landscape-width20 {
  width: 20%;
}
.mr-landscape-6perline > .mr-item:not([class*="mr-landscape-size"]),
.mr-landscape-size7,
.mr-landscape-width16 {
  width: 16.66666666666667%;
}
.mr-landscape-7perline > .mr-item:not([class*="mr-landscape-size"]),
.mr-landscape-size6,
.mr-landscape-width14 {
  width: 14.28571428571429%;
}
.mr-landscape-8perline > .mr-item:not([class*="mr-landscape-size"]),
.mr-landscape-size5,
.mr-landscape-width12 {
  width: 12.5%;
}
.mr-landscape-9perline > .mr-item:not([class*="mr-landscape-size"]),
.mr-landscape-size4,
.mr-landscape-width11 {
  width: 11.11111111111111%;
}
.mr-landscape-10perline > .mr-item:not([class*="mr-landscape-size"]),
.mr-landscape-size3,
.mr-landscape-width10 {
  width: 10%;
}
.mr-landscape-11perline > .mr-item:not([class*="mr-landscape-size"]),
.mr-landscape-size2,
.mr-landscape-width9 {
  width: 9.090909090909091%;
}
.mr-landscape-12perline > .mr-item:not([class*="mr-landscape-size"]),
.mr-landscape-size1,
.mr-landscape-width8 {
  width: 8.333333333333333%;
}
.mr-landscape-orderfirst,
.mr-landscape-order-1 {
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
}
.mr-landscape-order1 {
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
.mr-landscape-order2 {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
.mr-landscape-order3 {
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}
.mr-landscape-order4 {
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}
.mr-landscape-order5 {
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5;
}
.mr-landscape-order6 {
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6;
}
.mr-landscape-order7 {
  -ms-flex-order: 7;
  -webkit-order: 7;
  order: 7;
}
.mr-landscape-order8 {
  -ms-flex-order: 8;
  -webkit-order: 8;
  order: 8;
}
.mr-landscape-order9 {
  -ms-flex-order: 9;
  -webkit-order: 9;
  order: 9;
}
.mr-landscape-order10 {
  -ms-flex-order: 10;
  -webkit-order: 10;
  order: 10;
}
.mr-landscape-order11 {
  -ms-flex-order: 11;
  -webkit-order: 11;
  order: 11;
}
.mr-landscape-order12 {
  -ms-flex-order: 12;
  -webkit-order: 12;
  order: 12;
}
.mr-landscape-orderlast {
  -ms-flex-order: 999;
  -webkit-order: 999;
  order: 999;
}
.mr-landscape-scroll {
  overflow: auto;
}
.mr-landscape-noscroll {
  overflow: hidden !important;
}
@supports (-webkit-overflow-scrolling: touch) {
  .mr-landscape-iosscroll,
  .mr-landscape-scroll {
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;
  }
}
.mr-landscape-show {
  opacity: 1 !important;
  visibility: visible !important;
}
.mr-landscape-show,
.mr-landscape-block {
  display: block !important;
}
.mr-landscape-hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}
.mr-landscape-relative {
  position: relative;
}
.mr-landscape-absolute {
  position: absolute;
}
.mr-landscape-fixed {
  position: fixed;
}
.mr-landscape-sticky {
  position: sticky;
}
.mr-landscape-alignleft {
  text-align: left;
}
.mr-landscape-aligncenter {
  text-align: center;
}
.mr-landscape-alignright {
  text-align: right;
}
.mr-landscape-top {
  top: 0;
  bottom: auto;
  margin-top: 0;
  align-items: start;
  vertical-align: top;
}
.mr-landscape-middle {
  align-items: center;
  vertical-align: middle;
}
.mr-landscape-center {
  margin-left: auto;
  margin-right: auto;
}
.mr-landscape-bottom {
  bottom: 0;
  top: auto;
  margin-bottom: 0;
  align-items: end;
  vertical-align: bottom;
}
.mr-landscape-baseline {
  align-items: baseline;
  vertical-align: baseline;
}
